<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <supports-screens
        android:anyDensity="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true" />

    <application
        android:enableOnBackInvokedCallback="@bool/enable_predictive_back"
        tools:replace="android:enableOnBackInvokedCallback">

        <activity
            android:name=".ui.activity.HomeActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Splash"
            android:windowSoftInputMode="adjustPan">

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.ExternalActivity"
            android:documentLaunchMode="never"
            android:excludeFromRecents="true"
            android:exported="true"
            android:taskAffinity=""
            android:theme="@android:style/Theme.NoDisplay">

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="video/*" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/octet-stream" />
                <data android:mimeType="application/x-bittorrent" />
                <data android:mimeType="application/x-mpegurl" />
                <data android:mimeType="application/vnd.apple.mpegurl" />
                <data android:mimeType="application/dash+xml" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="video/*" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="application/octet-stream" />
                <data android:mimeType="application/x-bittorrent" />
                <data android:mimeType="application/x-mpegurl" />
                <data android:mimeType="application/vnd.apple.mpegurl" />
                <data android:mimeType="application/dash+xml" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="video/*" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="application/octet-stream" />
                <data android:mimeType="application/x-bittorrent" />
                <data android:mimeType="application/x-mpegurl" />
                <data android:mimeType="application/vnd.apple.mpegurl" />
                <data android:mimeType="application/dash+xml" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:mimeType="video/*" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/octet-stream" />
                <data android:mimeType="application/x-bittorrent" />
                <data android:mimeType="application/x-mpegurl" />
                <data android:mimeType="application/vnd.apple.mpegurl" />
                <data android:mimeType="application/dash+xml" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:scheme="file" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.m3u8" />
                <data android:pathPattern=".*\\.mp4" />
                <data android:pathPattern=".*\\.mkv" />
                <data android:pathPattern=".*\\.flv" />
                <data android:pathPattern=".*\\.mp3" />
                <data android:pathPattern=".*\\.m4a" />
                <data android:pathPattern=".*\\.aac" />
                <data android:pathPattern=".*\\.mpd" />
                <data android:pathPattern=".*\\.ts" />
                <data android:pathPattern=".*\\.webm" />
                <data android:pathPattern=".*\\.mov" />
                <data android:pathPattern=".*\\.avi" />
                <data android:pathPattern=".*\\.wav" />
                <data android:pathPattern=".*\\.ogg" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="smb" />
                <data android:scheme="rtmp" />
                <data android:scheme="rtsp" />
                <data android:scheme="udp" />
                <data android:scheme="ed2k" />
                <data android:scheme="magnet" />
                <data android:scheme="thunder" />
                <data android:scheme="jianpian" />
                <data android:scheme="tvbox-xg" />
                <data android:scheme="tvbus" />
                <data android:scheme="p2p" />
                <data android:scheme="p3p" />
                <data android:scheme="p4p" />
                <data android:scheme="p5p" />
                <data android:scheme="p6p" />
                <data android:scheme="p7p" />
                <data android:scheme="p8p" />
                <data android:scheme="p9p" />
                <data android:scheme="mitv" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.SearchActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.activity.FileActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout" />

        <activity
            android:name=".ui.activity.FolderActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout" />

        <activity
            android:name=".ui.activity.HistoryActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout" />

        <activity
            android:name=".ui.activity.KeepActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout" />

        <activity
            android:name=".ui.activity.LiveActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|uiMode|orientation"
            android:exported="true"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activity.HomeActivity"
            android:screenOrientation="sensorLandscape"
            android:supportsPictureInPicture="true" />

        <activity
            android:name=".ui.activity.ScanActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout" />

        <activity
            android:name=".ui.activity.VideoActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|uiMode|orientation"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activity.HomeActivity"
            android:supportsPictureInPicture="true" />

        <receiver
            android:name=".receiver.ShortcutReceiver"
            android:exported="false" />

        <service
            android:name=".service.DLNACastService"
            android:exported="false" />

    </application>
</manifest>
