<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fongmi.android.tv">

    <uses-permission android:name="android.permission.CAMERA" />

    <application>

        <activity
            android:name=".ui.activity.MainActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:exported="true"
            android:screenOrientation="fullUser"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="video/*" />
                <data android:scheme="content" />
                <data android:scheme="file" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.CollectActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:screenOrientation="fullUser" />

        <activity
            android:name=".ui.activity.DetailActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="fullUser"
            android:supportsPictureInPicture="true"
            android:theme="@style/AppTheme.Detail" />

        <activity
            android:name=".ui.activity.HistoryActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:screenOrientation="fullUser" />

        <activity
            android:name=".ui.activity.KeepActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:screenOrientation="fullUser" />

        <activity
            android:name=".ui.activity.LiveActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="sensorLandscape"
            android:supportsPictureInPicture="true" />

        <activity
            android:name=".ui.activity.VodActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:screenOrientation="fullUser" />

        <activity
            android:name=".ui.activity.ScanActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout"
            android:screenOrientation="fullUser" />

        <service
            android:name="com.android.cast.dlna.dmc.DLNACastService"
            android:exported="false" />

    </application>
</manifest>